* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1499346030926-9a72daac6c63?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
}

#nav h2 {
    font-size: 30px;
}

#nav i {
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#full {
    width: 30%;
    height: 100%;
    position: absolute;
    background-color: #ffffff66;
    top: 0;
    right: -30%;
    backdrop-filter: blur(10px);
    padding: 100px 60px;
}

#full h4 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

#full i {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}